body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 500px;
  font-size: 15px;
  color: #131313;
  padding: 5px;
  text-align: center;
  background-color: white;
  border: 0.1px solid gray;
  box-shadow: 10px 10px 0px -1px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}
.container:hover {
  box-shadow: none;
  transform: translate(1px, 1px);
  transition: 0.5s;
}
p {
  margin: 10px 0px;
  text-align: center;
}
